.groupList {
  &__header {
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    img {
      border-radius: 50%;
      width: 62px;
      height: 62px;
      margin-right: 11px;
    }
    span {
      font-size: 24px;
      font-weight: normal;
      color: rgb(17, 17, 17);
      margin: auto 0px;
    }
  }
  &__content {
    width: 95%;
    margin: 0 auto;
    background-color: #fafafc;
    height: auto;
    &__inside {
      display: grid;
      grid-template-columns: auto auto auto auto;

      .friend-center-item-v2 {
        width: 250px;
        height: 250px;
        background: white;
        text-align: center;
        margin-right: 20px;
        margin-top: 30px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        .avatar {
          display: grid;
          grid-template-columns: auto auto;
          gap: 5px;
          height: 100px;
          width: 80%;
          margin: 0 auto;
          justify-content: center;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
        .truncate {
          font-size: 16px;
          margin-top: 25px;
          font-weight: 600;
          height: 25px;
        }
      }
    }
  }
}
