.modalAddFriendToGroup{
  .select--info {
    .avatar-create-group{
      border-radius: 50%;
      margin-right: 10px;
    }
    img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}