.message {
  &__header {
    background: transparent;
    .info_room {
      width: 100%;

      h1 {
        font-size: 17px;
        line-height: 1;
        color: #222;
        padding-left: 0;
        font-weight: 350;
        left: 8px;
        overflow: hidden;
        white-space: nowrap;
        min-width: 0;
      }
      .list_user_room {
        display: flex;
        align-items: center;
        position: relative;
        .messageRecent {
          position: absolute;
          left: 25%;
          bottom: 0;
          color: #CDD1D8;
        }
      }
      img {
        border-radius: 50%;
        width: 56px;
        height: 56px;
        margin-right: 11px;
      }
      .content_room {
        top: 14px;
        position: absolute;
        display: inline-block;
        width: 50%;
      }
      .action {
        top: 14px;
        right: 0px;
        width: 20%;
        position: absolute;
        button {
          background-color: transparent;
          border: none;
          font-size: 30px;
          color: #767676;
          display: none;
          .dot {
            margin-left: 1px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            border: 1px solid #767676;
            color: white;
          }
        }
      }
      &:hover {
        .action {
          button {
            display: block;
          }
        }
      }
    }
  }
}
