.message {
  &__main {
    background: transparent;
    .info_message_user_sent{
      padding-left: 90%;
      padding-top: 5px;
      padding-bottom: 10px;
      width: 100%;
      .avatar-chat {
        border-radius: 50%;
        margin-right: 11px;
      }
      .message_content_user_sent {
        display: inline-block;
        .content_message{
          border-radius: 10px;
          padding: 6px;
          background-color: rgb(249, 0, 90);
          color: white;
          line-height: 1.34;
          font-weight: 300;
        }
        .message-time{
          display: none;
        }
        .action {
          display: none;
          button {
            border: none;
          }
        }
      }
    }
    .info_message_user_receive {
      padding: 30px;

      width: 100%;
      .avatar-chat {
        border-radius: 50%;
        margin-right: 11px;
      }
      .message_content_user_received {
        display: inline-block;
        .content_message{
          border-radius: 10px;
          padding-top: 5px;
          padding-left: 5px;
          padding-bottom: 5px;
          background-color: #f1f0f0;
        }
        .message-time{
          display: none;
        }
      }
    }
    .message_content_user_sent:hover {
      .action {
        display: inline-block;
      }
    }
    .message_content_user_received:hover{
      .message-time{
        display: block;
      }
    }
  }
}
